html{
    font-size: calc(11px + 0.390625);
}
a{   color: #FFFFFF;
    text-decoration: none;}

header {
    background-color: #3B8686;
    justify-content: baseline;
    align-items: center;
}

header ul{
    display: flex;
}
header li{
    margin: 1.6vw 1.5vw 1.4vw 1vw;
}
header li :hover{
background: rgba(255, 255, 255, 0.34);
border-radius: 1vw 1vw 1vw 1vw;
transition: 750ms;

}
header li:first-child{
    margin: 1.4vw 51vw 1.4vw 4vw;
}
header li a{
    padding: 4px 15px 4px 15px;
}
.banner {
    padding: 15vw 10vw 12vw 10vw;
   background: linear-gradient(rgba(121, 189, 154, 0.2),rgba(121, 189, 154, 0.2)),url(../imgs/back-banner.png)no-repeat center center;
   background-size: cover;

}
.banner h1{
    color: white;
    font-size: 2.5rem;
    padding: 1vw 2vw 1vw 2vw;
    background: rgba(59, 134, 134, 0.5);
    width: 25%;
}
.servicos{
    padding: 8vw 10vw 8vw 10vw;
}
.servicos ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.servicos ul li{
    width: 25%;
    
}
.servicos ul li span{
    font-size: 3rem;
    color: #3B8686;
    
}
.servicos ul li h2{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 20px 0 20px 0;
}
.servicos ul li p{
    color:#747474;
}
.servicos ul li button{
    background-color:#3B8686 ;
    border: none;
    color:white;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    margin: 20px 0 0 0;
    display: inline-block;     
}
.horas {
    background: linear-gradient(rgba(121, 189, 154, 0.4),rgba(121, 189, 154, 0.4)),url(../imgs/back-numeros.png)no-repeat center center;
    background-size: cover;
    padding: 4vw 1vw 4vw 1vw ;
}
.horas ul{
    display: flex;
    justify-content: space-between;
}
.horas ul li{
    color: white;
    margin: 0vw 2vw 0vw 2vw;
    font-size: 3rem;
    text-align: center;
    width: 10%;
    padding: 0vw 2vw 0vw 2vw;
    
}
.video{
    padding: 8vw 10vw 8vw 10vw;
}
.video h2{
    font-size: 2.5rem;
    color: #0B486B;
}
.video p{
    color: #747474;
    width: 87%;
    font-size: 1.2rem; 
    padding: 2vw 0vw 2vw 0vw;
}
.video ul {
    display: flex;
}
.video button{
    background-color:#0B486B;
    border: none;
    color:white;
    padding: 10px 20px 10px 20px;
    margin: 20px 1vw 0 0;
    display: inline-block;   
}
.video img{
    padding: 0 9vw 0 1vw;
}
footer {  
    background-color: #3B8686;
    padding: 3vw 1vw 3vw 1vw ;
}
footer ul.um {
    display: flex;
}
footer ul.dois{
    color: white;
}

footer ul li {
    color: white;
}
footer p{
    color: white;
}




